@font-face {
    font-family: "Kanit-Regular";
    src: url(fonts/Kanit-Regular.ttf);
}

* {
    font-family: "Kanit";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}


/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/

body {
    background-color: #F2F2F2;
}

form.login {
    display: flex;
    width: 70vw;
    flex-direction: column;
    align-items: center;
    background: rgb(57,155,176);
    background: linear-gradient(45deg, rgba(57,155,176,1) 0%, rgba(0,69,80,1) 0%, rgba(99,212,236,1) 100%);
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 360px;
    border-radius: 0.25rem;
    box-shadow: 0.05rem 0.05rem 0.25rem gray;
    row-gap: 1.3rem;
}

.box {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: auto;
    padding: 1rem;
    row-gap: 0.1rem;
}

.box-logo {
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #0c4e58;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.2rem;
}

.box-logo p {
    font-size: 1.3rem;
    color: white;
}


.box-logo img[src="img/login.png"] {
    width: 48px;
}

.box-input input {
    width: 99.6%;
    height: 3rem;
    border: none;
    /*border: 0.15rem solid #004550;*/
    padding: 0rem 0.5rem;
    font-size: 1rem;
    outline: none;
}

.box-input p {
    width: 100%;
    text-align: left;
    color: white;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.box-input span {
    display: inline;
    text-decoration: none;
    color: red;
}

.box-input input::placeholder {
    font-family: Kanit-Regular;
    text-align: start;
    font-size: 0.8rem;
}


input[type="email"] {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}


input[type="password"] {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}


.box-btn {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

}

.box-btn button {
    border: none;
    cursor: pointer;
    font-family: "Kanit-Regular";
}

#btn-log {
    width: 100%;
    height: 3rem;
    background-color: #0c4e58;
    border: 1px solid white;
    color: #8cd3e2;
    border-radius: 0.1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

#btn-lostpassword {
    width: 60%;
    height: 1.5rem;
    border-radius: 0.8rem;
    background-color: white;
    border: 0.1rem solid #004550;
    text-align: center;
    color: #004550;
}